{% extends 'artnexp/artnexp_base.html' %}
{% block title %}
{{ article.title  }}
{% endblock %}
{% block app_content %}
{% load markdown_deux_tags %}
<h2>{{ article.title  }}</h2>
<hr></hr>
<div class="author"><span class="text-muted">{% for author in article.authors.all %}
  {{ author.firstname }} {{ author.lastname }}, 
  {% endfor %}</span></div> 
<div class="conference"><span class="text-muted">{{ article.publication.name }}
    {{ article.publication.date }}</span></div> 
<a href="{% url "artnexp:index" %}">Back to article list</a>
<h3>Abstract</h3>
{{ article.description|markdown }}
{% if article.publication.pubtype != '1' and article.publication.pubstatus == '2' and article.article %}
<div class="download"> <button type="button" class="btn btn-default"
                                            onClick='location.href="../../../media/{{ article.article.name }}"'>
    
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    Download Article</button></div>
{% endif %}
{% if article.experiment_set.all %}
<div class="toc">
<h3>Table of Contents</h3>
    {% for exp  in article.experiment_set.all %}
    <ul>
      <li><a href="#exp{{ forloop.counter}}">Experiment {{ forloop.counter }}: {{ exp.title }}</a></li>
    </ul>
    {% endfor %}
    </div>
{% endif %}

{% if article.experiment_set.all %}
    {% for exp  in article.experiment_set.all %}

    <h2><a name="exp{{ forloop.counter}}">Experiment {{ forloop.counter }}: {{ exp.title }}</a></h2>
    <h3>Description</h3>
    {{ exp.description|markdown }}
    {% if exp.archive %}
<button type="button" class="btn btn-default" onClick='location.href="../../../media/{{ exp.archive.name }}"'>
  
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  Download Archive</button>
{% endif %}
    <h3>Requirements</h3>
    {{ exp.requirements|markdown }}
    <h3>HowTo</h3>
    {{ exp.howto|markdown }}
    {% endfor %}
{% else %}
<h3>Table of Contents</h3>
<p>No Experiment at the moment</p>
{% endif %}

<a href="{% url "artnexp:index" %}">Back to article list</a>
{% endblock %}
