{% extends 'artnexp/artnexp_base.html' %}
{% block title %}
Publications
{% endblock %}
{% block app_content %}
<h2>Publications</h2>
<table class="table borderless" border="0">
  <tr>
  <td>
{% for article in article_list.all %}
<p><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>{% for authored in article.authored_set.all %}
  {% if forloop.last %}
  and
  {% elif not forloop.first %}
  ,
  {% endif %}
  {{ authored.author.firstname }} {{ authored.author.lastname }}

  {% endfor %} --
  <a href='{% url "artnexp:detail" article.id %}'>{{ article.title }}</a> -- 
  
{% if article.publication.pubstatus == '1' %}
  Unpublished</p>

{% elif article.publication.pubstatus == '2' %}
  {{ article.publication.name }} -- {{ article.publication.date }} </p>
{% elif article.publication.pubstatus == '3' %}
<span class="text-muted"> Accepted at</span> {{ article.publication.name }} -- {{ article.publication.date }} </p>
{% elif article.publication.pubstatus == '4' %}
<span class="text-muted"> Submitted at</span> {{ article.publication.name }} -- {{ article.publication.date }} </p>
{% else %}
<span class="text-muted">Other </span> </p>
{% endif %}
{% endfor %}
</td>
</tr>
</table>
{% endblock %}

